@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-gray-300 shadow-sm transition-all focus:border-primary focus:ring-primary;
  }

  textarea:disabled,
  [type='text']:disabled {
    -webkit-text-fill-color: theme('colors.gray.800');
    opacity: 1;
  }

  textarea::placeholder,
  [type='text']::placeholder {
    -webkit-text-fill-color: theme('colors.gray.300');
    opacity: 1;
  }

  [type='text']:read-only,
  [type='email']:read-only,
  [type='url']:read-only,
  [type='password']:read-only,
  [type='number']:read-only,
  [type='date']:read-only,
  [type='datetime-local']:read-only,
  [type='month']:read-only,
  [type='search']:read-only,
  [type='tel']:read-only,
  [type='time']:read-only,
  [type='week']:read-only,
  [multiple]:read-only,
  textarea:read-only {
    @apply cursor-default bg-gray-200 focus:border-gray-300 focus:ring-transparent;
  }
  select.read-only {
    @apply cursor-default bg-gray-200 focus:border-gray-300 focus:ring-transparent;
  }

  [type='text']:disabled,
  [type='email']:disabled,
  [type='url']:disabled,
  [type='password']:disabled,
  [type='number']:disabled,
  [type='date']:disabled,
  [type='datetime-local']:disabled,
  [type='month']:disabled,
  [type='search']:disabled,
  [type='tel']:disabled,
  [type='time']:disabled,
  [type='week']:disabled,
  [multiple]:disabled,
  textarea:disabled,
  select:disabled {
    @apply cursor-default bg-gray-200;
  }

  [type='text']::placeholder,
  [type='email']::placeholder,
  [type='url']::placeholder,
  [type='password']::placeholder,
  [type='number']::placeholder,
  [type='date']::placeholder,
  [type='datetime-local']::placeholder,
  [type='month']::placeholder,
  [type='search']::placeholder,
  [type='tel']::placeholder,
  [type='time']::placeholder,
  [type='week']::placeholder,
  [multiple]::placeholder,
  textarea::placeholder,
  select::placeholder {
    @apply text-gray-300;
  }

  [type='checkbox'] {
    @apply cursor-pointer rounded-md border-gray-300 text-primary transition-colors hover:border-primary;
    @apply hover:disabled:border-gray-300;
  }

  [type='checkbox']:disabled,
  [type='checkbox']:read-only {
    @apply cursor-default;
  }

  [type='checkbox'],
  button {
    @apply focus:outline-none focus:ring-transparent focus:ring-offset-transparent;
  }

  [type='radio'] {
    @apply cursor-pointer transition-colors checked:bg-primary checked:hover:bg-primary focus:border-primary focus:bg-primary focus:outline-none focus:ring-offset-0 focus:checked:bg-primary focus:checked:ring-transparent;
  }
}

@layer components {
  .dms-table {
    @apply border-separate border-spacing-0 overflow-hidden rounded border border-sky-300;
  }

  .dms-table td,
  .dms-table th {
    @apply px-4 py-2;
  }

  .dms-table th {
    @apply bg-sky-200 text-center;
  }

  .dms-table tbody tr:nth-child(even) {
    @apply bg-sky-100;
  }

  .rotate-enter-active,
  .rotate-leave-active {
    @apply transition-all duration-300;
  }
  .rotate-enter-from,
  .rotate-leave-to {
    @apply opacity-0;
    transform: rotate3d(1, 1, 1, 15deg);
  }
}
